body{

    background-color: rgb(126, 126, 126);
}

.redes-sociales{

    width: 40px;
    height: 40px;
    padding: 10px;
    block-size: 30px;
}

.panel-redes-sociales{

    width: 100%;
    height: 100px;
    background-color: rgb(165, 165, 165) ;
    color: black;
}

a{
    border: 2px solid cyan;
    padding-top: 10px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.red-social:hover{

    color: red;
    background-color: springgreen;
    height: 50px;    
    width: 40px;
    
}

img, div{

    width: 100%;
    
}

button{

    border-radius: 10px;
    
}

.nav{

    border: 10px solid yellow;
    /*display: inline-table; */
}

